* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #1a1a1a;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 40px;
    z-index: 1000;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

#home {
    height: 100vh;
    background: white;
    color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#home h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

#home button {
    margin-top: 20px;
    padding: 12px 25px;
    font-size: 18px;
    border: 1px solid black;
    background: white;
    color: black;
    cursor: pointer;
    border-radius: 8px;
}

#cursos {
    height: 100vh;
    padding: 120px 40px 40px;
    background: #f5f5f5;
}

#cursos h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 32px;
}

.container-cursos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    background: white;
    padding: 40px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 20px;
}

#sobre {
    height: 100vh;
    background: #e3f2fd;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 80px;
}

.card-sobre {
    width: 400px;
    background: white;
    padding: 40px;
    position: relative;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
}

.selo {
    position: absolute;
    top: -15px;
    right: -15px;
    background: #3d5afe;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
}

#contato {
    height: 100vh;
    padding: 120px 40px;
    background: #ddd;
    text-align: center;
}
