* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
}
.logo {
  font-size: 36px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: rgb(235, 226, 226);
  height: 80px;
}

ul {
  display: flex;
  gap: 10px;
  list-style: none;
}

li > a {
  text-decoration: none;
  color: #202020;
  transition: all 0.5s ease;
  &: hover{color: #3a3a3a;}
  
}

section{
    height: calc(100vh);
    border: 10px solid red;
    
}
